/* Master Styles */
body {
	font-family: "Lato", sans-serif;
	margin: 10px;
}

.container {
	display: grid
	grid-template-columns: 1fr; 
}

main, footer {
	padding: 1rem 2rem;
    margin: 0 auto 0rem auto;
    max-width: 1200px;
    display: block;
}

/* Header Styles */
h1 {
  text-align: left;
  color: cornflowerblue;
  font-size: 30px;
}


/* Nav Styles */

.nav-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
    margin: 0 auto 0rem auto;
    max-width: 1200px;
}

.right-side {
	display: flex;
}

.nav-wrapper > .right-side > div {
	margin-right: 20px;
	font-size: 0.9em;
	text-transform: uppercase;
}

.nav-link-wrapper {
	height: 22px
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}

.nav-link-wrapper:hover {
	border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
	color: black;
}

.nav-wrapper a{
	 border-bottom: none;
}

/* In-text links */
a {
  color: #000000;
  border-bottom: 1px dotted;
  text-decoration: none;
  transition: color 0.1s ease;
}

a:visited{
	color: #000000;
}

a:hover{
  text-decoration: none;
  color: #0066FF;
}


