/* Master Styles */
body {
	font-family: "Lato", sans-serif;
	margin: 10px;
}

.container {
	display: grid
	grid-template-columns: 1fr; 
}

/* Header Styles */
.header {
  padding: 38px;
  text-align: left;
  color: cornflowerblue;
  font-size: 30px;
}

/* Nav Styles */

.nav-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 38px;
}

.left-side {
	display: flex;
}

.nav-wrapper > .left-side > div {
	margin-right: 20px;
	font-size: 0.9em;
	text-transform: uppercase;
}

.nav-link-wrapper {
	height: 22px
	border-bottom: 1px solid transparent;
	transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
	color: #8a8a8a;
	text-decoration: none;
	transition: color 0.5s;
}

.nav-link-wrapper:hover {
	border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
	color: black;
}


/* Footer Styles */
.footer {
  margin: 0 0.9375rem;
  max-width: 1200px;}
}

/* In-text links */
a{
  color: #000000;
  border-bottom: 1px dotted;
  text-decoration: none;
  transition: color 0.1s ease;
}

a:visited{color: #000000;
}

a:hover{
  text-decoration: none;
  color: #0066FF;
}

